  <p>Todos for <%= @list.name %></p>

  <% @todos.each do |todo| %>
    <p>
      <%= todo.task %>
      <br>
      <% if todo.user != nil %>
        <em> by <%= todo.user.email %></em>
        Added on: <%= todo.created_at %>
      <% end %>
    </p>
  <% end %>

  <% if current_user %>
  <h4>New Review</h4>

  <%= form_for([@list, Todo.new]) do |f| %>

    <div class="field">
      <%= f.label :task %><br />
      <%= f.text_field :task %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a task.</p> 
<% end %>