  <p>Todos for <%= @list.name %></p>
<div class="mui-container">
  <div class="mui-panel">
  <% @list.todos.each do |todo| %>
    <p>
      <%= todo.task %>
      <br>
      <% if todo.user != nil %>
        <em> by <%= todo.user.email %></em>
        Added on: <%= todo.created_at %>
      <% end %>
    </p>
  <% end %>
  </div>
</div>
  <% if current_user %>
  <h4>New Review</h4>

    <div class="mui-container">
      <div class="mui-panel">

  <%= form_for([@list, Todo.new]) do |f| %>

    <div class="field">
      <%= f.label :task %><br />
      <%= f.text_area :task %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  </div>
  </div>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a task.</p> 
<% end %>